Located in {{question.content}}, this {{question.author}} bedroom {{question.notes}} is.
<br>
<p><img src={{additional.image}} alt={{additional.type}}></p>

<button {{action 'delete' addditional}}>Delete</button>
