<li>
  {{question.content}} by {{question.author}} in {{question.notes}}


  {{update-question question=question update="update"}}

  <button {{action 'delete' question}}>Delete Question</button>
</li>


<!-- {{#if isQuestionShowing }}
  <button {{action 'delete' question}}>Delete Question</button>
{{else}}
  <button {{action 'questionShow'}}>Show question</button>

{{/if}} -->
