<!-- <li>
  {{question.content}} by {{question.author}} in {{question.notes}}
  {{#if isQuestionShowing }}
    <button {{action 'delete' question}}>Delete Question</button>
  {{else}}
    <button {{action 'questionShow'}}>Show question</button>

  {{/if}}

</li> -->
